<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link href="../model/element_ui_index.css" rel="stylesheet">

</head>
<body>
<div id="business_all_electrocar">
    <el-dialog title="新增商品" :visible.sync="dialogFormVisible">
        <el-form :model="ev">
            <el-form-item label="商家ID">
                {{ev.businessId}}
            </el-form-item>
            <el-form-item label="品牌">
                {{ev.brand}}
            </el-form-item>
            <el-form-item label="型号">
                <el-input v-model="ev.model"></el-input>
            </el-form-item>
            <el-form-item label="价格">
                <el-input v-model="ev.price"></el-input>
            </el-form-item>
            <el-form-item label="图片">
                <el-upload
                        class="avatar-uploader"
                        action="/ev/uploadingImage"
                        :show-file-list="true"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload"
                        :file-list="fileList"
                        list-type="picture-card"
                        :on-remove="handleRemove"
                        :limit="1">
                    <i class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submit">确 定</el-button>
        </div>
    </el-dialog>


    <el-row :gutter="50">
        <el-col :span="50">
            <el-input
                    placeholder="请输入电动车部分名字"
                    maxlength="10"
                    v-model="name"
                    clearable>
            </el-input>
        </el-col>
        <el-col :span="100">
            <el-button type="primary" plain @click="getAll(0,pageSize)">搜索</el-button>
        </el-col>
    </el-row>
    <el-table
            :data="tableData"
            style="width: 100%">
        <el-table-column
                label="序列"
                type="index">
        </el-table-column>
        <el-table-column
                label="电动车品牌"
                prop="brand">
        </el-table-column>
        <el-table-column
                label="电动车名"
                prop="name">
        </el-table-column>
        <el-table-column
                label="型号"
                prop="model">
        </el-table-column>
        <el-table-column
                label="价格"
                prop="price">
        </el-table-column>
        <el-table-column label="图片">
            <template slot-scope="scope">
                <el-image
                        style="width: 100px; height: 100px"
                        :src="'/image/'+scope.row.image"></el-image>
            </template>
        </el-table-column>
        <el-table-column align="right">
            <template slot="header" slot-scope="scope">
                <el-button
                        icon="el-icon-plus"
                        @click="dialogFormVisible=true">新增
                </el-button>
            </template>
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">下架
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            :current-page.sync="currentPage"
            :page-size="5"
            :page-sizes="[5, 10, 15, 20]"
            :total="total"
            @current-change="handleCurrentChange"
            @size-change="handleSizeChange"
            layout="sizes, prev, pager, next">
    </el-pagination>
</div>
</body>

<script src="../model/vue.js"></script>
<script src="../model/axios.js"></script>
<script src="../model/element_ui_index.js"></script>
<script src="../model/js_cookie.js"></script>

<script>
    axios.default.baseURL = 'http://localhost:8080'
    new Vue({
        el: "#business_all_electrocar",
        data: {
            tableData: [],
            currentPage: 1,
            total: 0,
            pageSize: 5,
            name: '',
            fileList: [],
            dialogFormVisible: false,
            ev: {
                brand: "",
                model: "",
                price: "",
                image: "",
                businessId: ""
            },
            imageUrl: ''
        },
        created() {

            if (Cookies.get("businessId") != null) {
                this.ev.brand = Cookies.get("businessBrand")
                this.getAll(this.currentPage - 1, this.pageSize);
            } else {
                window.location.pathname = "/business-background/businessLogin.html"
            }

        },
        methods: {
            handleAvatarSuccess(res, file) {
                this.ev.image = res
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {

                const isLt2M = file.size / 1024 / 1024 < 2;


                if (!isLt2M) {
                    this.$message.error('上传图片大小不能超过 2MB!');
                }
                return isLt2M;
            },
            handleRemove(file, fileList) {
                this.fileList = []
                axios.get("/ev/deleteImage/" + this.ev.image).then((res) => {
                    this.$message(res.data);
                })
            },
            submit() {
                axios.post("/ev/add", this.ev).then((res) => {
                    if (res.data && this.ev.price.length > 0 && this.ev.model.length> 0 && this.fileList.length > 0) {
                        this.$message({
                            message: '添加成功！',
                            type: 'success'
                        });
                        this.getAll(this.currentPage - 1, this.pageSize);
                        this.dialogFormVisible = false;
                    } else {
                        this.$message.error('添加失败！');
                        this.handleRemove()
                    }
                })
            },
            handleDelete(index, row) {
                axios.delete("/ev/delete/" + row.id).then((res) => {
                    if (res.status == 200) {
                        if (res.data == "true") {
                            this.handleRemove();
                            this.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                            this.getAll(this.currentPage - 1, this.pageSize);
                        } else {
                            this.$message.error('删除失败');
                        }
                    } else if (res.status == 203) {
                        this.$message.error(res.data);
                    }
                })
            },
            getAll(page, size) {
                if (this.name !== '') {
                    axios.get("/ev/page?page=" + page + "&size=" + size + "&name=" + this.name +
                        "&businessId=" + Cookies.get("businessId")).then((res) => {
                        this.total = res.data.totalElements;
                        this.tableData = res.data.content;
                    });
                } else {
                    axios.get("/ev/page?page=" + page + "&size=" + size + "&businessId=" + Cookies.get("businessId")).then((res) => {
                        this.total = res.data.totalElements;
                        this.tableData = res.data.content;
                    });
                }
            },
            handleSizeChange(val) {
                this.pageSize = val;
                this.getAll(this.currentPage - 1, this.pageSize);
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.getAll(this.currentPage - 1, this.pageSize);
            },
        }
    });

</script>
</html>