<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="./css/Login.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="businessLogin">
    <h1>欢迎来到电动车商家管理系统！</h1><br>
    <el-form ref="business" :model="business" label-width="80px" label-height="80px" id="LoginFrom">
        <el-form-item label="账号">
            <el-input v-model="business.account" class="businessInput" style="width: 70%"
                      suffix-icon="el-icon-business"></el-input>

        </el-form-item>
        <el-form-item label="密码">
            <el-input v-model="business.password" class="businessInput" style="width: 70%" suffix-icon="el-icon-goods" show-password>>
            </el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onLogin">登录</el-button>
            <el-link type="info"
                     href="http://localhost:8080/business-background/businessRegister.html">
                注册
            </el-link>
        </el-form-item>
    </el-form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
    axios.default.baseURL = "http://localhost:8080"

    new Vue({
        el: "#businessLogin",
        methods: {
            onLogin() {
                axios.get("/business/account/" + this.business.account+"/password/"+this.business.password).then((res) => {
                    console.log(res.data)
                    if (res.data!=null){

                        this.business=res.data
                        const entrySign=this.business.entrySign

                        if(entrySign==1||entrySign==2||entrySign==3){
                            Cookies.set("businessId", this.business.id, { expires: 1,path:'' })
                            Cookies.set("businessAccount", this.business.account, { expires: 1,path:'' })
                            Cookies.set("businessBrand", this.business.brand, { expires: 1,path:'' })
                            Cookies.set("businessAddress", this.business.address, { expires: 1,path:'' })
                            Cookies.set("businessPhone", this.business.phone, { expires: 1,path:'' })
                            Cookies.set("businessEntrySign", this.business.entrySign, { expires: 1,path:'' })

                            window.location.href="http://localhost:8080/business-background/business-background.html"
                        }else if (entrySign==0){
                            this.$message.error("申请未被同意！")
                        }else if (entrySign==4){
                            this.$message.error("已撤离！")
                        }
                    }else {
                        alert("账号或密码错误")
                    }
                })
            }
        },
        data: {
            business: {
                account: '',
                password: ""
            }
        }
    })

</script>
</body>
</html>