body {
    background-color: white;
    background: white;
}

#loginLink:link{
    color: red;
    font-size: 14px;
    text-decoration: none;
}
#registerLink:link{
    color: darkgray;
    font-size: 14px;
    ext-decoration: none;
}
#registerLink:hover{
    color: hotpink;
    font-size: 14px;
    ext-decoration: none;
}
#shoppingCar:link{
    color: darkgray;
    font-size: 14px;
    ext-decoration: none;
}
#shoppingCar:hover{
    color: hotpink;
    font-size: 14px;
    ext-decoration: none;
}
#favorites:link{
    color: darkgray;
    font-size: 14px;
    ext-decoration: none;
}
#favorites:hover{
    color: hotpink;
    font-size: 14px;
    ext-decoration: none;
}

.main_top_text{
    background-color: antiquewhite;
    word-spacing: 10px;
}
#main_top_from{
    text-align: left;
}
#main_top_from .el-col{
    padding-right: 10px;
    width: max-content;
}
#search{
    margin: auto;
    width: 30%;
    border: 0px solid green;
    padding: 1px;

}
#searchText{
    width: 80%;
    height: 25px;
    top: 50px;
    bottom: 0px;
    left: 0px;
    border-radius: 30px
}
#searchBotton{

    background-color: green;
    color: white;


}

.el-card{
    align-items: center;
    align-content: center;
}

#EV{
    padding: 100px;
    width: 1800px;

    margin: auto;
}




